<mat-card *ngIf="user" class="text-center">
    <h2>Your Profile Details.........</h2>

    <mat-card-content>

        <div class="bootstrap-wrapper">
            <div class="container">

                <div class="container text-center">
                    <img src="../../../assets/profile.jpg" class="profile-image" />
                    <h1 class="mt20">{{user.firstName}} {{user.lastName}}</h1>

                </div>

                <div class="row">
                    <div class="col-md-10 offset-md-1">

                        <!-- table Details -->
                        <table class="table text-center">
                            <tr>
                                <td>User Name</td>
                                <td>{{user.username}}</td>
                            </tr>
                            <tr>
                                <td>User Id</td>
                                <td>{{user.id}}</td>
                            </tr>
                            <tr *ngIf="user.phone">
                                <td>Phone</td>
                                <td>{{user.phone}}</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>{{user.authorities[0].authority}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{user.enabled?"ACTIVE":"NOACTIVE"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </mat-card-content>
   
        <mat-card-actions class="text-center mt20">
            <button mat-raised-button color="primary" class="mr20">UPDATE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    
</mat-card>